.env
dbt_project/logs/*
dbt_project/target/*
dbt_project/dbt_packages
dbt_project/.*
__pycache__/*
.venv/*
.vscode/*
src/__pycache__/*
src/ingestion/__pycache__/*
src/db/__pycache__/*
dags/__pycache__/*
rag/__pycache__/*
